<header>
    <nav class="navbar">
      <h1>
          <a [routerLink]="['/']"> Racing Club </a> 
      </h1>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/users']">Users</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/leagues']">Leagues</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/stages']">Stages</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/races']">Races</a>
        </li>
      </ul>
    </nav>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
