
<form [formGroup]="form" (ngSubmit)='submitForm()'>

    <input type="text" placeholder="Name..." class="form-control" formControlName="name">
    <div
        *ngIf="form.get('name').invalid && form.get('name').touched"
        class="validation">
        <small>Length of name must be more than 2 letters</small>
    </div>
    <input type="text" placeholder="Nickname..." class="form-control" formControlName="nickname">
    <div 
        *ngIf="form.get('nickname').invalid && form.get('nickname').touched"
        class="validation">
            <small>Length of nickname must be more than 2 letters</small>
            <small> Nickname required</small>
    </div>
    <!--Btn submit-->
    <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
    
</form>
    

